[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core
	ignore = dirty
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	ignore = dirty
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake
	ignore = dirty
[submodule "meta-oe-alliance"]
	path = meta-oe-alliance
	url = https://github.com/oe-alliance/oe-alliance-core.git
[submodule "meta-qt5.15"]
	path = meta-qt5.15
	url = https://github.com/oe-mirrors/meta-qt5.15.git
