/build*
/.deps/
/meta-*/
!/meta-openpli/
!/meta-local/
!/meta-oe-alliance/
/openembedded-core/
/sources/
*.swp
site.conf
bblayers.conf
meta-openpli/recipes-bsp/vuplus/enigma2-transtreamproxy-util/transcoding.patch
meta-openpli/recipes-bsp/vuplus/vuplus-opera-browser-plugin/aitreader.py
meta-openpli/recipes-bsp/vuplus/vuplus-opera-browser-plugin/dumpait
meta-openpli/recipes-bsp/vuplus/vuplus-opera-browser-plugin/vuplus-opera-browser-plugin_20130105.patch
meta-openpli/recipes-bsp/vuplus/vuplus-transcodingsetup-plugin/vuplus-transcodingsetup-plugin_20130108.patch
meta-openpli/recipes-bsp/vuplus/vuplus-opera-browser-plugin.bb
meta-openpli/recipes-bsp/vuplus/vuplus-opera-browser-util.bb
meta-openpli/recipes-bsp/vuplus/vuplus-dvb-modules-vuduo.bb
meta-openpli/recipes-bsp/vuplus/vuplus-dvb-modules-vusolo.bb
meta-openpli/recipes-bsp/vuplus/vuplus-dvb-modules-vusolo2.bb
meta-openpli/recipes-bsp/vuplus/vuplus-dvb-modules-vuultimo.bb
meta-openpli/recipes-bsp/vuplus/vuplus-dvb-modules-vuuno.bb
meta-openpli/recipes-bsp/vuplus/vuplus-dvb-modules.inc
