/build*
/.deps/
/meta-*/
!/meta-openpli/
!/meta-local/
!/meta-oe-alliance/
/openembedded-core/
/sources/
*.swp
site.conf
bblayers.conf
meta-openpli/conf/distro/openpli.conf
meta-openpli/conf/machine/
meta-openpli/recipes-bsp/etxx00/
meta-openpli/recipes-bsp/vuplus/
meta-openpli/recipes-bsp/xp/
meta-openpli/recipes-openpli/enigma2-plugins/enigma2-plugin-extensions-openwebif.bbappend
meta-openpli/recipes-openpli/enigma2-skins/enigma2-plugin-skins-magic.bb